.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 767px) { .fuente-nombrePlato, .fuente-PrecioPlato, .fuente-descripcionPlato { font-size: 18px; } }

/* 
@media (max-width: 767px) {
  .card {
     width: 100%;
  }
 }
  */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #079605;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.button-hover {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-hover:hover {
  background-color: #1dc60ed9;
  color: #010000;
}


.button-hoverRed {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-hover:hoverRed {
  background-color: #f40000d9;
  color: #010000;
}



.bordeCarta {
  border: 3px solid #1c5c16d9;
 }
 
 .fondoCarrito {
  background-color: #ffffff00;
 }

 .bordeTituloCarrito {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 25px;
  border-bottom: 5px solid #1c5c16d9; /* Línea en la parte inferior */

}

  .botonesCarrito{
    background-color: #041304da;
    color:white;

  }




 .bordePedido {
  border-bottom: 3px solid #07970eb0; /* Línea en la parte inferior */
  border-left: 3px solid transparent; /* Borde transparente a la izquierda */
  border-right: 3px solid transparent; /* Borde transparente a la derecha */
  border-top: none; /* Sin borde en la parte superior */
}





 .list-group-item {
  border: 1px solid rgba(0, 0, 0, 0);;
 }
 
 .cardCarta {
  border: 1px solid red;
 }
 
 .card-headerCarta {
  background-color: #f7e896;
  
  
 }
 
 .bg-yellow {
  background-color: #ffffb3;
 }
 
 .rounded {
  border-radius: 10px;
 }


 

.bg-verde-claro {
  background-color: #1c5c16d9;
}

.bg-verde-total {
  background-color: #1c5c16;
  color:white;
}

.bg-blanco-total {
 
  color:white;
}


.bg-verde-blanco {
  background-color: #fffffff6;
}

.bg-rojo {
  background-color: #c6200ed9;
}



.bordered {
  border: 0.5px solid black;
  background-color: white;
  border-radius: 10px;
}



.margen-10 {
  margin: 50px;
 }

 .negrita-color-blanco {
  font-family:'Times New Roman';
  color: rgb(255, 255, 255); /* Cambia este valor por el color que desees */
  font-family: Arial, sans-serif; /* Cambia este valor por la fuente que desees */
  font-size: 35px;
}


.flex-wrap {
  flex-wrap: wrap;
}


.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}



.negrita-color-negro {
  font-family:'Times New Roman';
  color: rgb(0, 0, 0); /* Cambia este valor por el color que desees */
  font-family: Arial, sans-serif; /* Cambia este valor por la fuente que desees */
  font-size: 20px;
}




.fondo-logReg {
  background-image: url('/comida-carta.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode:multiply ; /* Agrega el efecto de difuminado */
  opacity: 0.9;
  color: rgb(0, 0, 0); /* Cambia el color del texto para que se vea bien con el fondo difuminado */
}



.carta-home-titulo{
  font-family:'Times New Roman';
  font-size: 40px;
  border-radius: 10px;
  color: white;
  }


.table-container {
  max-height: 400px;
  overflow-y: auto;
}

/* Estilos del scroll */
.table-container::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra desplazadora */
  background-color: #006e14b4; /* Color de fondo de la barra */
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #000000; /* Color de la barra desplazadora */
  border-radius: 3px; /* Bordes redondeados de la barra desplazadora */
  
}



.fondo-admin {
  background-image: url('/fondo-admin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode:multiply ; /* Agrega el efecto de difuminado */
  opacity: 0.95;
  color: rgb(0, 0, 0); /* Cambia el color del texto para que se vea bien con el fondo difuminado */
}





.carta-banner {
  background-image: url('/comida-carta.jpg');
  background-repeat: repeat;
  background-size:contain;
  background-position:top;
  background-blend-mode:multiply ; /* Agrega el efecto de difuminado */
  opacity: 0.9;
  color: rgb(0, 0, 0); /* Cambia el color del texto para que se vea bien con el fondo difuminado */
}


.carta-wallpaper {
  background-image: url('/fondo-carta2.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position:  center;
  background-blend-mode:multiply ; /* Agrega el efecto de difuminado */
  opacity: 0.9;
  color: rgb(0, 0, 0); /* Cambia el color del texto para que se vea bien con el fondo difuminado */ ;
}




.carta-titulo{
  
background-color: #01000073;
border-radius: 10px;
color: white;

}






.login-borde{
  border: #000000;
  border-radius: 10px;
  color: rgb(6, 88, 27);
  
  }


  .white-star-carrito {
    font-family:'Times New Roman';
    font-size: 25px;
    text-shadow: 2px 0.5px 2px #ffffff, -0.5px -0.5px 0.5px #000000; 
    
  }
  




.white-star-carta {
  font-family:'Times New Roman';
  font-size: 40px;
  color:#ffffff;
  background-color: #ffffffd9);
  text-shadow: 2px 2px 2px #115d0a, -2px -2px 2px #115d0a; 
}


.fondo-CardCarrito {
  background-color: #041304a9;
  color: white;
}



.fondo-CardPlato {
  background-color: #041304a9;
}




.fuente-PrecioPlato {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:rgb(255, 255, 255);
  font-size: 25px;
}







.fuente-formMenuAdmin {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:rgb(255, 255, 255);
  font-size: 20px;
}




.fuente-descripcionPlato {
  font-family:'Times New Roman' , cursive;
  font-style:normal;
  color:rgb(255, 255, 255);
  font-size: 23px;
}



.carta-fondo{
  background-color: #06811f9c;
  }
  
  
  
  .fuente-nombrePlato {
    font-family:'Times New Roman';
    font-style: italic;
    color:rgb(255, 255, 255);
    font-size: 20px;
  }
  
  .editMenuTitulo{
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    color: white;
    font-size: 35px;
    
    }

    .editMenuFondo{
      background-color: #01000073;
      border-radius: 10px;
    
      
      }

      